@media (max-width: 1150px) {
    .services__items {
        flex-wrap: wrap;
        max-width: 800px;
        margin: 0 auto;
        justify-content: space-around;
    }

    .services__item {
        margin-top: 70px;
    }

    .information-box__inner {
        margin: 0 auto;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .information-box__item.number {
        order: 2;
        margin: 50px auto 0;

    }

    .information-images__inner {
        height: 320px;
    }

    .box-center {
        height: 328px;
        width: 520px;
    }

    .box-left, .box-right {
        width: 330px;
        height: 230px;
        bottom: 30px;
    }

}



@media (max-width: 1050px) {
    .menu-list__item + .menu-list__item{
        margin-left: 0;
    }

    .banner-slider__info{
        padding: 130px 0 180px ;
    }

}


@media (max-width: 950px){
    .happy-client__title{
        margin-right: 0;
        span{
            &::before{
                display: none;
            }
        }
    }

    .footer-top__inner{
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .footer-contact{
        order: 2;
        max-width: 500px;
        margin-top: 50px;
    }

    .footer-contact__logo {
        margin-bottom: 10px;
    }

    .footer-contact__text{
        margin-bottom: 0;
    }

    .footer-company, .footer-community{
        max-width: 170px;
    }

    .footer-blog{
        max-width: 500px;
        margin-top: 50px;
    }
}


@media (max-width: 900px){
    .header{
        position: relative;
    }

    .menu-list{
        background-color: $primary-color;
        display: none;
        width: 100%;
        max-width: 900px;
        position: absolute;
        top: 72px;
        left: 0;
        z-index: 2;
        padding-bottom: 40px;
    }

    .menu-list.menu-list--active{
        display: flex;
        flex-direction: column;

    }

    .menu-btn{
        position: absolute;
        top: 20px;
        right: 50px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 5;
        span{
            width: 40px;
            height: 3px;
            margin: 4px 5px;
            background-color: #fff;
        }
    }

    .menu-list__item--portfolio a{
        padding-left: 15px;
        &::before{
            left: 95px;
        }
    }

    .portfolio-box{
        position: static;
        margin: 0 15px;
        padding-bottom: 15px;
    }

    .portfolio-items{
        width: 100%;
    }

    .menu-list__item--portfolio.menu-list__item:hover {
        border-bottom: none;
    }

    .menu-list__item.active{
        background-color: transparent;
        border-bottom: none;
    }

    .banner-slider__info{
        padding: 110px 0 150px ;
    }

    .information__title-box{
        margin-bottom: -100px;
    }

    .information-box{
        padding-top: 150px;
    }

    .information-images__inner{
        height: 280px;
    }

    .box-center{
        height: 285px;
        width: 452px;
    }

    .box-left, .box-right{
        width: 300px;
        height: 211px;
        bottom: 30px;
    }
}



@media (max-width: 750px){
    .services-info{
        flex-direction: column;
        align-items: center;
    }

    .services-info__btn{
        margin-top: 25px;
    }

    .services-info__box{
        text-align: center;
    }

    .services-info__title{
        font-size: 26px;
    }

    .information__title{
        font-size: 32px;
    }

    .information__subtitle{
        max-width: 500px;
        margin: 0 auto;
    }
}


@media (max-width: 700px){
    .information-images__inner{
        height: 240px;
    }

    .box-center{
        height: 240px;
        width: 330px;
    }

    .box-left, .box-right{
        width: 250px;
        height: 171px;
        bottom: 30px;
    }
}


@media (max-width: 600px){

    .banner-slider__info{
        padding: 90px 0 120px ;
    }


    .banner-slider__title{
        font-size: 40px;
    }

    .banner-slider__info{
        width: 400px;
    }

    .services__items{
        max-width: 500px;
    }

    .information-images__inner{
        height: 220px;
    }

    .box-center{
        height: 220px;
        width: 280px;
    }

    .box-left, .box-right{
        width: 200px;
        height: 150px;
        bottom: 20px;
    }

    .information-box{
        padding-bottom: 30px;
    }

    .information-box__inner{
        justify-content: center;
    }


    .information-box__item.clients{
        margin-top: 50px;
    }

    .number-graph{
        max-width: 355px;
        flex-wrap: wrap;
        justify-content: space-between;
        padding-top: 40px;
        margin: 0 auto;
    }

    .number-graph__item{
        padding-bottom: 30px;
    }

}


@media (max-width: 500px){
    .information-images__inner{
        height: 180px;
    }

    .box-center{
        height: 180px;
        width: 220px;
    }

    .box-left, .box-right{
        width: 180px;
        height: 140px;
        bottom: 20px;
    }
}



@media (max-width: 450px){
    .banner-slider__info{
        width: 300px;
    }

    .banner-slider__info{
        padding: 70px 0 100px ;
    }

    .banner-slider__title{
        font-size: 35px;
    }

    .banner-slider__text{
        font-size: 14px;
    }

    .footer-top__inner{
        flex-direction: column;
    }

    .footer-community__title, .footer-company__title{
        position: relative;
        padding-right: 25px;
        max-width: fit-content;
        &::after{
            content: "";
            position: absolute;
            top: 5px;
            right: 0;
            background-image: url(../img/footer-up-arrow.svg);
            background-repeat: no-repeat;
            width: 15px;
            height: 15px;
            transform: rotate(180deg);
        }
    }

    .footer-community--active .footer-community__title,
    .footer-company--active .footer-company__title{
        &::after{
            transform: rotate(0);
        }
    }

    .footer-community__list, .footer-company__list{
        height: 0;
        overflow: hidden;
    }

    .footer-community--active .footer-community__list{
        height: auto;
        margin-bottom: 30px;
    }

    .footer-company--active .footer-company__list{
        height: auto;
        margin-bottom: 30px;
    }

    .footer-blog{
        margin-top: 0;
    }
}

@media (max-width: 400px){
    .information__title{
        font-size: 25px;
    }

    .information-images__inner{
        height: 160px;
    }

    .box-center{
        height: 160px;
        width: 200px;
    }

    .box-left, .box-right{
        width: 160px;
        height: 120px;
        bottom: 20px;
    }

    .happy-client__title{
        span{
            width: 50%;
        }
    }
}



