.portfolio__tabs{
    display: flex;
    margin: 40px 0;
}

.portfolio__tab{
    padding: 10px 13px;
    background-color: #98a3a3;
    text-transform: uppercase;
    border-bottom: 3px solid #7f8c8c;
    color: #fff;
    line-height: 17px;
    border-radius: 6px;
    transition: all 0.3s;
    &:hover{
        background-color: $accent-color;
        border-bottom: 3px solid $accent-darker;
    }
}

.portfolio__tab + .portfolio__tab{
    margin-left: 20px;
}

.portfolio__tab.tab--active{
    background-color: $primary-darker;
    border-bottom: 3px solid $primary-bottom;
}

.portfolio-item{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 35px;
}


.portfolio__item-img{
    width: 100%;
    max-width: 570px;
    height: 270px;
    border-radius: 6px;
    margin-right: 30px;
    border-bottom: 3px solid #e5e6e6;
}

.portfolio__item-title{
    font-size: 20px;
    line-height: 24px;
    color: $title-color;
    font-weight: 600;
    margin-bottom: 25px;
}

.portfolio__item-text{
    margin-bottom: 65px;
}

.portfolio__item-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.portfolio__item-link{
    position: relative;
    padding-left: 60px;
    line-height: 40px;
    font-size: 20px;
    color: $title-color;
    font-weight: 600;
    &::before{
        content: "";
        position: absolute;
        width: 40px;
        height: 40px;
        top: 0;
        left: 0;
        border-radius: 6px;
        background-color: $primary-darker;
        background-image: url(../img/link.png);
        background-repeat: no-repeat;
        background-size: 26px;
        background-position: center center;
        transition: all 0.3s;
    }
    &:hover{
        color: $accent-color;
        &::before{
            background-color: $accent-color;
        }
    }
}

.portfolio__item-btn{
    width: 100%;
    max-width: 200px;
    padding: 20px 50px;
    background-color: $primary-color;
    color: #fff;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 17px;
    border-radius: 6px;
    transition: all 0.3s;
    border-bottom: 4px solid $primary-bottom;
    &:hover{
        background-color: $accent-color;
        border-bottom: 4px solid $accent-darker;
    }
}

.portfolio__item-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.tabs-content{
    display: none;
}

.tabs-content.tabs-content--active{
    display: block;
}

.portfolio-single__title{
    padding: 60px 0;
    font-size: 25px;
    line-height: 30px;
    color: $title-color;
}

.portfolio-slider__item{
    height: 700px;
}

.portfolio-single__info{
    padding: 60px 0 80px;
    display: flex;
    justify-content: space-between;
}

.portfolio-single__description-title{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 25px;
}

.portfolio-single__description-text{
    p{
        margin-bottom: 35px;
    }
}

.portfolio-single__details{
    width: 100%;
    max-width: 280px;
}

.portfolio-single__details-item{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 17px 0;
    border-bottom: 1px solid #e1e2e2;
}

.portfolio-single__details-left{
    padding-left: 35px;
    position: relative;
}

.portfolio-single__details-right{
    max-width: 100px;
    text-align: right;
}

.portfolio-single__details-url .portfolio-single__details-right{
    text-transform: uppercase;
    color: $accent-color;
}

.portfolio-single__details-date .portfolio-single__details-left::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url(../img/details-calendar.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.portfolio-single__details-technologies .portfolio-single__details-left::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url(../img/details-mechanical.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.portfolio-single__details-client .portfolio-single__details-left::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url(../img/details-user.svg);
    background-size: contain;
    background-repeat: no-repeat;
}

.portfolio-single__details-url .portfolio-single__details-left::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-image: url(../img/details-link.svg);
    background-size: contain;
    background-repeat: no-repeat;
}



.portfolio-related-slider{
    margin-bottom: 40px;
}

.portfolio-related__title{
    text-transform: uppercase;
    font-size: 16px;
}

.related-slider__shadow{
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: $primary-color;
    transition: all 0.3s;
}

.portfolio-related-slider__item:hover .related-slider__shadow {
    opacity: 1;
}

.related-slider__shadow-eye{
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background-color: $primary-darker;
    background-image: url(../img/view.png);
    background-size: 26px;
    background-position: center center;
    background-repeat: no-repeat;
}

.related-slider__shadow-link{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    border-radius: 6px;
    background-color: $primary-darker;
    background-image: url(../img/link.png);
    background-size: 26px;
    background-position: center center;
    background-repeat: no-repeat;
}

.related-slider__shadow-text{
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    color: #fff;
    font-size: 16px;
    font-weight: 600;
}


