//Локальные переменные для цвета

$violet: #A65980;
$violet-darker: #8B4A6B;
$violet-bottom: #743E59;

$blue:  #26B9E1;
$blue-darker: #1b8eb8;

$gray: #7f8c8c;


//Глобальные переменные для цвета
$primary-color: $violet;
$primary-darker: $violet-darker;
$primary-bottom: $violet-bottom;

$accent-color: $blue;
$accent-darker: $blue-darker;

$text-color: $gray;