//Локальные переменные для цвета

$violet: #A65980;
$violet-darker: #8B4A6B;
$violet-bottom: #743E59;
$violet-text: #532C40;



$blue:  #26B9E1;
$blue-darker: #1b8eb8;

$gray: #777777;
$gray-blue: #7f8c8c;


//Глобальные переменные для цвета
$primary-color: $violet;
$primary-darker: $violet-darker;
$primary-bottom: $violet-bottom;
$primary-title: $violet-text;

$accent-color: $blue;
$accent-darker: $blue-darker;

$text-color: $gray;
$title-color: $gray-blue;