@import "vars";
@import "libs";
@import "fonts";
@import "global";

.header {
    background-color: $primary-color;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0 22px;
}

.header__logo img{
    display: block;
}

.header__box{
    display: flex;
    align-items: center;
    align-content: center;
}

.menu-list{
    display: flex;
    text-transform: uppercase;
    color: #FFF;
    font-size: 13px;
    line-height: 13px;
}

.menu-list a {
    padding: 11px 15px ;
    font-weight: 600;
    border-radius: 3px;
}

.menu-list__item + .menu-list__item{
    margin-left: 20px;
}

.menu-list__item.active{
    background-color:$primary-darker;
    border-bottom: 3px solid $primary-bottom;
}

.menu-list__item:hover{
    background-color: $accent-color;
    border-bottom: 3px solid $accent-darker;
}

.menu-list__item--portfolio a{
    padding-left: 32px;
    position: relative;
    display: block;
    &::before{
        content: "";
        position: absolute;
        width: 9px;
        height: 6px;
        top: 16px;
        left: 15px;
        background-image: url(../img/arrow-header-down.png);
        background-repeat: no-repeat;
    }
}

.menu-list__item--portfolio:hover .portfolio-box{
    display: block;
}

.portfolio-box{
    display: none;
    position: absolute;
    padding-top: 15px;
}

.portfolio-items {
    padding: 5px;
    background-color: $accent-darker;
    text-transform: none;
    width: 202px;
    border-radius: 4px;
    position: relative;
    &::before{
        content: "";
        position: absolute;
        top: -5px;
        left: 20px;
        width: 10px;
        height: 10px;
        transform: rotate(45deg);
        border-top: 5px solid  $accent-darker;
        border-left: 5px solid  $accent-darker;
    }
}


.portfolio__item{
    padding: 11px 15px 11px 26px;
    background-color: $accent-color;
    border-radius: 4px;
    font-size: 13px;
    line-height: 13px;
    position: relative;
    a{
        padding: 0;
        &::before{
            content: "";
            display: none;
        }
    }
    &::before{
        content: "";
        position: absolute;
        top: 13px;
        left: 11px;
        width: 6px;
        height: 9px;
        background-image: url(../img/arrow-header-right.png);
        background-repeat: no-repeat;
    }

}

.portfolio__item + .portfolio__item{
    margin-top: 5px;
}

.header__search{
    background-image: url(../img/header-search.png);
    background-repeat: no-repeat;
    width: 25px;
    height: 22px;
    margin-left: 20px;
}


.banner-slider{
    position: relative;
}

.banner-slider__item{
    background-size: cover;
    background-repeat: no-repeat;
}


.banner-slider__item1{
    background-image: url(../img/banner-slider-1.png);
}

.banner-slider__item2{
    background-image: url(../img/banner-slider-2.jpg);
}

.banner-slider__item3{
    background-image: url(../img/banner-slider-3.jpeg);
}

.banner-slider__info{
    width: 480px;
    padding: 160px 0 210px ;
    margin: 0 auto;
    text-align: center;
}

.banner-slider__title{
    font-size: 50px;
    line-height: 60px;
    font-weight: 800;
    background-color: $accent-color;
    color: #fff;
    border-radius: 4px;
    margin-bottom: 10px;
}

.banner-slider__text{
    font-size: 16px;
    line-height: 30px;
    padding: 5px 0;
    background-color: rgba(#000, 0.7);
    color: #fff;
    border-radius: 4px;
}

.banner-slider__arrows{
    width: 50px;
    height: 65px;
    background-color: $accent-color;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.banner-slider__arrow-prev{
    left: 0;
    z-index: 5;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.banner-slider__arrow-next{
    right: 0;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f3f3f3;
}

.slick-dots li{
    font-size: 0;
    line-height: 0;
    height: 50px;
    padding: 22px 0;

}


.slick-dots li button{
    width: 60px;
    height: 6px;
    background-color: $title-color;
    margin: 0 8px;
}

.slick-dots li.slick-active button{
    background-color: $accent-color;
}



.services{
    background-color: #f3f3f3;
}

.services-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 27px 30px;
    background-color: #ececec;
    border-radius: 5px;

}

.services-info__box{
    padding-right: 30px;
}

.services-info__title{
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
    color: $title-color;
}

.services-info__text{
    font-size: 13px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 4px;
}

.services-info__btn{
    background-color: $primary-color;
    font-size: 20px;
    line-height: 54px;
    text-transform: uppercase;
    padding: 0 40px;
    border-radius: 4px;
    color: #fff;
    font-weight: 600;
}

.services__items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
    padding-bottom: 75px;
}

.services__item{
    position: relative;
    text-align: center;
    padding: 45px 27px 60px;
    width: 100%;
    max-width: 270px;
    min-height: 315px;
    background-color: #fff;
    border-radius: 6px;
    border-bottom: 4px solid #e5e6e6;
}

.services__item-title{
    margin-bottom: 35px;
    color: $title-color;
    font-size: 16px;
    line-height: 16px;
    font-weight: 800;
    text-transform: uppercase;
}

.services__item-text{
    font-size: 12px;
    line-height: 20px;
}


.services__item-img{
    width: 60px;
    margin: 0 auto 15px;
}

.services__item-img svg{
    fill: #8B4A6B;
}

.services__item-btn{
    position: absolute;
    bottom: -23px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 14px;
    line-height: 14px;
    background-color: $primary-color;
    color: #fff;
    padding: 17px 65px;
    width: 200px;
    border-radius: 4px;
    border-bottom: 4px solid $primary-bottom;
}









@import "media";
